<div class="wrapper">
	<div>
		<h1>New Quote</h1>

		<%= render 'form', quote: @quote %>

		<%= link_to 'Back', quotes_path %>
	</div>
</div>
<footer>
	Icons made by<a href="http://www.freepik.com" title="Freepik" target="_blank" rel="noopener">Freepik</a> and <a href="https://www.flaticon.com/authors/spovv" title="spovv" target="_blank" rel="noopener">spovv</a> from <a href="https://www.flaticon.com/" target="_blank" rel="noopener">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licences/by/3.0/" title="Creative Commons BY 3.0" target="_blank" rel="noopener">CC 3.0 BY</a>
</footer>