/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html{
	height: 100%;
}
body {
	text-align: center;
	display: flex;
	flex-direction: column;
	height:100%;
	margin: auto;
}
.wrapper {
	min-width: 660px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	flex:1 0 auto;
	width: 80%;
	background: #FCFCFC;
}
.citation-container {
	margin: 10px auto;
	padding: 5px;
	width:inherit;
	display:flex;
	flex-direction: row;
	border-bottom: .2px solid #d7d7d7;
}
.quote-div{
	flex-grow: 1;
	padding:10px 30px;
	max-width: 80%;
}
cite, q {
	overflow-wrap: break-word;
}
cite {
	margin-top: 1.5em;
	max-width: 80%;
	float:right;
}
footer{
	flex-shrink: 0;
	background: #EEE;
	padding:16px;
}
q {
	font-family: "Merriweather";
}
.new {
	margin-right: 18%;
	text-align:right;
	padding:20px 0;
}
input [type="text"] {
	padding:3px;
	border:.3px solid #d7d7d7;
	border-radius:8px;
	width:100px;
}
.field{
	display:flex;
	flex-direction: column;
}

form{
	width:15%;
	min-width: 140px;
	margin: auto;
}
form > div {
	margin-bottom:10px;
}

.operations-div {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}


.operations-div > time {
	color:#888;
	font-size: .9em;
}

.pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default;
  margin-bottom: 20px;
}
  .pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em; }
  .pagination .disabled {
    display:none; }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084; }
  .pagination a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none; }
    .pagination a:hover, .pagination a:focus {
      border-color: #003366;
      background: #0063dc;
      color: white; }
  .pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .pagination .previous_page, .pagination .next_page {
    border-width: 2px; }
  .pagination .previous_page {
    margin-right: 1em; }
  .pagination .next_page {
    margin-left: 1em; }

.alert, .notice{
	margin: 0;
	padding: 2rem;
	font-weight: bold;
	letter-spacing: 1px
}
.alert{
	color:#8a6d3b;
}
.notice{
	color: #fff;
}

.alert-wrapper, .notice-wrapper {
	position: absolute;
	top: 0;
	text-align: center;
	width: 100%;
	z-index: 99;
}
.alert-wrapper{
	background-color: rgba(252,248,227,.85);
}
.notice-wrapper{
	background-color: rgba(135,216,211,.85);
}
